@{
    ViewData["Title"] = "Dashboard Admin";
}

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reports <span>/Year</span></h5>
                            <div id="reportsChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        new ApexCharts(document.querySelector("#reportsChart"), {
            series: [{
                name: 'Tersedia',
                data: [31, 40, 28, 51, 42, 82, 56],
            }, {
                name: 'Dipinjam',
                data: [11, 32, 45, 32, 34, 52, 41]
            }, {
                name: 'Rusak',
                data: [2, 3, 3, 4, 5, 5, 5]
            }],
            chart: {
                type: 'area', // Anda perlu menentukan jenis grafik yang ingin digunakan, misalnya 'bar' untuk grafik batang.
            },
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'], // Menambahkan label untuk sumbu x
            },
        }).render();
    });
</script>
